@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&family=Poppins:wght@200;400&display=swap");

:root {
  --primary-color: #6c63ff;
  --secondary-color: #f5f2fe;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  --text-font: "Playfair Display", serif;
}

body {
  margin: 120px auto 70px;
  max-width: 100%;
  font-family: "Poppins", sans-serif;
}

.row {
  display: flex;
  justify-content: center;
  margin: 40px 15px;
}

/* ---------------------- Navbar ----------------------- */

.navbar {
  max-width: 100%;
}

.nav-link {
  margin-left: 150px;
}

.nav-link:first-child {
  margin-left: 0;
}

.my-logo {
  display: block;
  margin: 0 auto;
  width: 100px;
}

.home-my-name,
.home-intro,
.home-name-description {
  text-align: center;
  margin: 0;
}

.home-my-name {
  font-size: 80px;
  font-family: var(--text-font);
  font-weight: 800;
}

.home-intro {
  font-size: 36px;
}

.home-name-description {
  font-size: 20px;
  opacity: 0.6;
  margin-top: 10px;
}

.home-img {
  border: 1px solid #6b63ff88;
}

.navigation-links {
  display: flex;
  margin-top: 40px;
  justify-content: center;
}

.navigation-links a {
  margin: 20px;
  border-radius: 4px;
  padding: 15px 25px;
  text-decoration: none;
  text-transform: capitalize;
}

.contact-link {
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: white;
  transition: all 200ms ease-in;
  cursor: pointer;
}

.about-link {
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  cursor: pointer;
}

.contact-link:hover {
  color: var(--secondary-color);
  opacity: 0.9;
}
.about-link:hover {
  color: var(--primary-color);
}

.homepage-link {
  color: var(--primary-color);
  text-align: center;
  display: block;
}

.email-link {
  display: flex;
  justify-content: center;
  color: var(--primary-color);
  font-size: 28px;
  text-decoration: none;
}

.email-link:hover {
  text-decoration: underline;
}

.homepage-app-title {
  font-size: 38px;
  font-family: var(--text-font);
}
.homepage-app-content {
  font-size: 18px;
  line-height: 1.6;
  background-color: transparent;
  margin-bottom: 40px;
  font-weight: 500;
}

/* ---------------------- Button css ----------------------- */

.main-link-btn {
  border-radius: 4px;
  padding: 20px 25px;
  text-decoration: none;
  text-transform: capitalize;
  border: none;
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: white;
  transition: all 200ms ease-in;
  cursor: pointer;
}
.main-link-btn:hover {
  color: var(--primary-color);
  background-color: var(--secondary-color);
  border: 1px solid var(--primary-color);
}

/* ---------------------- About Page ----------------------- */

.about-content {
  font-size: 14px;
  margin: 140px 0;
}

.about-content h1 {
  font-size: 50px;
  margin-top: 30px;
  font-family: var(--text-font);
}

.about-name-description {
  font-size: 18px;
  color: #000;
}

.about-page-paragraph {
  font-size: 18px;
  margin: 40px 0;
  padding: 20px 20px 0 0;
  line-height: 1.6;
}

.about-img {
  margin-top: 40px;
}

/* ---------------------- Project Page ----------------------- */

.project-page-title {
  text-align: center;
  font-size: 46px;
  font-weight: 700;
  font-family: var(--text-font);
  margin: 140px 0 90px;
}

.project-section {
  background-color: var(--secondary-color);
  padding: 55px 40px;
  margin: 10px;
  text-align: center;
  border-radius: 20px;
}

.project-section h2 {
  font-family: var(--text-font);
  font-weight: 700;
}

.project-section p {
  font-size: 20px;
}

.project-image {
  margin: 30px 0 45px;
  border-radius: 10px;
}

/* ---------------------- Contact ----------------------- */

.contact-page-title {
  text-align: center;

  font-size: 56px;
  font-weight: 700;
  font-family: var(--text-font);
  margin: 160px 80px 90px;
}

.contact-page-content {
  text-align: center;
  font-size: 20px;
  letter-spacing: 4px;
}

.contact-page-email {
  margin: 40px;
}

.contact-page-email a {
  text-decoration: none;
  color: var(--primary-color);
}

.contact-page-phone p {
  color: var(--primary-color);
}

/* ---------------------- Footer ----------------------- */

.footer-section-homepage,
.footer-section-projects,
.footer-section-contact {
  margin-top: 190px;
}

.footer {
  display: flex;
  justify-content: space-between;
  padding: 65px 85px;
  background-color: var(--secondary-color);
}

.footer h2 {
  font-size: 38px;
  font-family: var(--text-font);
  line-height: 2;
  font-weight: 700;
}

.social-links {
  margin-top: 60px;
}

.social-link-email {
  margin-bottom: 36px;
}

.social-link-email a {
  color: #000;
  font-size: 22px;
  text-decoration: none;
  transition: all 200ms ease-in-out;
}

.social-link-email a:hover {
  color: var(--primary-color);
  text-decoration: underline;
}

.social-media-links a {
  color: var(--primary-color);
  margin: 10px;
  padding: 10px;
  border-radius: 50%;
  background-color: var(--secondary-color);
  transition: all 200ms ease-in-out;
}

.social-media-links a:hover {
  color: var(--secondary-color);
  background-color: var(--primary-color);
}

/* ---------------------- Media Query  ----------------------- */

@media (max-width: 992px) {
  .nav-link {
    text-align: center;
    margin-left: 0px;
  }

  .homepage-app-title,
  .homepage-app-content,
  .about-content {
    text-align: center;
  }

  .home-img {
    margin: 30px 0;
  }
  .row-homepage {
    background-color: #6b63ff1f;
    border-radius: 15px;
    padding: 30px 40px;
  }

  .about-content {
    margin-top: 100px;
  }

  .about-content h1 {
    font-size: 42px;
  }

  .main-link-btn {
    display: block;
    padding: 15px;
    margin: 10px 40px;
    text-align: center;
  }

  .footer {
    text-align: center;
    display: block;
  }
}

@media (max-width: 576px) {
  .nav-link {
    text-align: center;
    margin-left: 0px;
  }

  .home-intro {
    font-size: 30px;
  }

  .home-my-name,
  .project-page-title,
  .contact-page-title {
    font-size: 40px;
  }

  .home-name-description,
  .contact-page-content {
    font-size: 16px;
    margin: 0 30px;
  }

  .homepage-app-title,
  .homepage-app-content,
  .about-content {
    line-height: 1.6;
    text-align: center;
  }

  .row-homepage {
    background-color: #6b63ff20;
    border-radius: 15px;
    padding: 30px 0;
  }

  .home-img {
    display: none;
  }

  .about-content {
    margin-top: 100px;
  }

  .about-content h1 {
    font-size: 38px;
  }

  .main-link-btn {
    display: block;
    padding: 15px;
    margin: 10px 30px;
    text-align: center;
  }
  .footer {
    text-align: center;
    display: block;
  }

  .footer .main-link-btn {
    margin: 10px 0;
  }
  .footer-contact-content h2 {
    font-size: 32px;
    line-height: 1.6;
  }
}
